header.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.logo{
    width: 30%;
}

.router{
    width: 70%;
    padding: 10px 15px;
    background-color: #fff;
}

.router i{
    background-color: #fff;
}

.router p{
    background-color: #fff;
}

.router h1{
    font-weight: normal;
    background-color: #fff;
}